@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<html>
    <head>
	    <title>About</title>
        <link rel="stylesheet" href="css/BaseStyles.css" />
        <link rel="stylesheet" href="css/AboutStyle.css" />
    </head>
	<body>
        <div class="centered">
            <div>
                <h1 class="title-non-white bottom-10">@Model.Value("title")</h1>
                <p class="top-10">@Model.Value("description")</p>
            </div>
            <br /><br />
            <hr />

            <div class="about-member-div">
                <h1 class="about-title">@Model.Value("nameCard1")</h1>
                <h2 class="about-role">@Model.Value("roleCard1")</h2>
                <p>@Model.Value("descriptionCard1")</p>
                <br />
                <h4 class="about-mail">@Model.Value("emailCard1")</h4>
                <br />
            </div>
            <hr />
            <div class="about-member-div">
                <h1 class="about-title">@Model.Value("nameCard2")</h1>
                <h2 class="about-role">@Model.Value("roleCard2")</h2>
                <p>@Model.Value("descriptionCard2")</p>
                <br />
                <h4 class="about-mail">@Model.Value("emailCard2")</h4>
                <br />
            </div>
            <hr />
            <div class="about-member-div">
                <h1 class="about-title">@Model.Value("nameCard3")</h1>
                <h2 class="about-role">@Model.Value("roleCard3")</h2>
                <p>@Model.Value("descriptionCard3")</p>
                <br />
                <h4 class="about-mail">@Model.Value("emailCard3")</h4>
                <br />
            </div>
            <hr />
        </div>
	</body>
</html>