@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Findings>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Findings</title>
		<link rel="stylesheet" href="css/BaseStyles.css" />
        <link rel="stylesheet" href="css/FindingsStyle.css" />
	</head>

	<body>
		<div class="centered">
			<h1>@Model.Value("findingsTitle")</h1>
			<div class="findings-div" >
				<h2 class="top-10">@Model.Value("firstFindingTitle")</h2>
				<p>@Model.Value("firstFindingText")</p>
			</div>
			<br/>
			<hr/>
				<div  class="findings-div">
				<h2 class="top-10">@Model.Value("secondFindingTitle")</h2>
				<br/>
				<p>@Model.Value("secondFingingText")</p>
			</div>
			<br/>
			<hr/>
				<div  class="findings-div">
				<h2 class="top-10">@Model.Value("thirdFindingTitle")</h2>
				<br/>
				<p>@Model.Value("thirdFindingText")</p>
			</div>
			<br/>
			<hr/>
		</div>
	</body>
</html>